:root {
    --eggshell: #EEE9DA;
    --bistre: #351B0C;
    --noir: #57432E;
    --chamoisee: #948561;
    --coyote: #746953;
    --lion: #B49969;
    --ash-grey: #BEBDAD;
    --bone: #D4CFBC;
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url("ShadowsIntoLight-Regular.ttf");
}
@font-face {
    font-family: Caveat;
    src: url("CaveatBrush-Regular.ttf");
}

@font-face {
    font-family: SpecialElite;
    src: url("SpecialElite-Regular.ttf");
}

.container {
    width: 70%;
    margin: auto;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

#newgame {
    background-color: var(--bone);
    border-radius: 25px;
}

#dicebox {
    width: 70%;
    border-collapse: collapse;
    border: 3px solid var(--noir);
    box-sizing: border-box;
    margin-bottom: 1rem;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 0.5rem;
}

#dicebox h2 {
    width: 100%;
}

#dicebox p {
    width: 100%;
}

.dice {
    font-size: 3rem;
    width: 33%;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
}

#roll {
    cursor: pointer;
    box-sizing: border-box;
    font-size: medium;
    font-family: SpecialElite,sans-serif;
    background-color: var(--bone);
    padding: 0.7rem;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.status {
    text-align: center;
    box-sizing: border-box;
    width: 30%;
    border-collapse: collapse;
    border: 3px solid var(--noir);
    margin-bottom: 1rem;
}

.status table {
    width: 100%;
    table-layout: fixed;
}

.status table tr td {
    border-collapse: collapse;
    border: 3px solid var(--noir);
    width: 30%;
    padding: 0.7rem;
    background-color: var(--bone);
}


#map {
    width: 60%;
    box-sizing: border-box;
    margin-top: 1rem;
    background-color: var(--eggshell);
    padding-left: 2rem;
}

body {
    background-color: var(--eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: SpecialElite, sans-serif;
}

.notepad {
    text-align: center;
    box-sizing: border-box;
    font-family: Caveat, sans-serif;
    background-image: url("img/jaccuse-notepad.png");
    background-size: cover;
    width: 40%;
    aspect-ratio: auto;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 1rem;
}

.content {
    color: var(--bistre);
    max-height: 20.9rem;
    overflow-y: auto;
    position: relative;
    max-width: 16rem;
    padding-left: 6rem;
    height: 20.9rem;
}

.content p {
    max-width: 15rem;
    margin-top: 0;
}

.notepad title {
    width: 100%;
    height: 1rem;
    padding-top: 1.4rem;
    position: sticky;
}

.notepad h1 {
    margin-bottom: 0;
}
